HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### secret files ###
# avoid tracking of sensible data, passwords, etc.
*.properties
src/main/resources/application.properties

/data


id_rsa
id_rsa.pub

id_rsa2
id_rsa2.ppk
id_rsa2.pub

comandos.md
COMANDOS_CP.md

# donde se guarda el output del script para scanear y hacer un resumen de las entidades del backend
entity-summary.txt

/.junie/temp/

*.patch

.cursor

hs_err_pid15740.log
replay_pid15740.log
